/*UNIVERSAL RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  line-height: 1.5;
}
header {
  height: 60px;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  background-color: white;
}
/*nav-container*/
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  padding: 0 40px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
section.hero {
  height: 80vh;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: contain;
  align-items: center;
  justify-content: end;
  color: black;
}
.hero-content h1 {
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  justify-content: end;
}
.hero-btns {
  padding: 2px 24px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: gray;
  color: black;
  border-radius: 20px;
  transition: opacity 0.2s;
  border: none;
  font-weight: 500;
  margin-top: 10px;
}
.featured {
  padding: 48px;
}
.section-title {
  font-size: 24px;
  margin-bottom: 24px;
}
.card-container {
  display: flex;
  gap: 12px;
}
.card {
  flex: 1;
}
.card-img {
  height: 500px;
  background-size: contain;
  background-position: center;
  transition: transform 0.5s;
}
.card-1 {
  background-image: url(images/DyqOyBaVYAAIoDY.jpg);
}
.card-2 {
  background-image: url(images/wallpaper2.jpg);
}
.card:hover .card-img {
  transform: scale(1.02);
}
.card-info h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.card-info a {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  text-align: center;
  color: black;
  font-weight: 500;
}
.sarce {
  height: 8pxs;
}
.head {
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 72px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 40px;
  letter-spacing: none;
}
.note {
  text-align: center;
  margin-top: 0.5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.nike-product {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 40px;
  padding: 10px 5px;
  align-items: center;
  transition: opacity 0.2s;
}
.nike-product p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.product {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 40px;
  padding: 10px 5px;
  align-items: center;
}
.product {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.endnote {
  display: flex;
}
.key-left {
  display: flex;
  flex-direction: row;
}
.key-left a {
  color: black;
  text-decoration: none;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 40px;
  list-style: none;
  gap: 25px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.prime {
  margin-top: 30px;
  margin-left: 20px;
  gap: 40px;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.prime p {
  gap: 30px;
  margin-left: 25px;
  justify-content: space-between;
}

dialog {
  border: none;
  border-radius: 13px;
  padding: 30px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  justify-content: center;
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
#closeBtn {
  border-radius: 7px;
  color: white;
  background-color: #000;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
}
